@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

.bm-overlay{
    background-image: url(./images/backgrounds/mable-background.jpg) !important;
}

 button{
    background:greenyellow !important;
}

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

.right .bm-burger-button {
  left: initial;
  right: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-menu {
    background: white;
}

.bm-menu a {
    color: #b8b7ad;

    &:hover,
    &:focus {
      color: #c94e50;
    }
  }

.bm-item-list a {
    padding: 0.8em;
}

  .bm-item-list a span {
    margin-left: 10px;
    font-weight: 700;
  }

.menu-1 .bm-cross {
        background: #bdc3c7;
    }

.menu-1 .bm-menu {
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}
